@import "./../../../../assets/color-palette";

:host {
  .group {
    padding: 0;
    height: 100%;
    background: rgb(18,18,18);
    background: linear-gradient(0deg, rgba(18,18,18,1) 0%, rgba(18,18,18,1) 35%, rgba(40,40,39,1) 100%);

      .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: fit-content;

        .wrapper {
          width: 23rem;
          height: 50%;
          overflow: hidden;

          img {
            user-select: none;
            -webkit-user-drag: none;
            margin: 2rem 0 0 5rem;
          }

          .image-blur {
            -webkit-filter: blur(2rem);
            -moz-filter: blur(2rem);
            -o-filter: blur(2rem);
            -ms-filter: blur(2rem);
            filter: blur(2rem);
            width: 15rem;
            border-radius: 100%;
            position: absolute;
          }

          .image {
            width: 15rem;
            border-radius: 100%;
            filter: brightness(70%);

          }
        }

        .name {
          color: getPrimary(500);
          font-weight: bolder;
          font-size: 4rem;
        }
      }
  }
}