<app-group-container class="group">
    <div class="header">
        <div class="wrapper">
            <img class="image-blur" src="./../../../assets/artist-profile-pictures/{{imgSrc}}">
            <img class="image" src="./../../../assets/artist-profile-pictures/{{imgSrc}}">
        </div>
        <div class="name">{{artistName}}</div>
    </div>
    <div class="track-tiles">
        <app-main-track-tile
                *ngFor="let track of tracks"
                name="{{track.title}}"
                artist="{{track.artist}}"
                image-url="./../../assets/thumbnails/{{track.thumbnailFilename}}"
                track-url="./../../assets/tracks/{{track.trackSrc}}">
        </app-main-track-tile>
        <app-footer/>
    </div>
</app-group-container>
