@import "../../../../assets/color-palette";

:host {

  display: flex;
  flex-direction: row;
  column-gap: 0.8rem;

  .thumbnail {
    width: 4rem;
    border-radius: 5px;

    user-select: none;
    -webkit-user-drag: none;
  }

  .info-container {

    display: flex;
    flex-direction: column;
    row-gap: 0.2rem;
    justify-content: center;
    align-items: flex-start;
    user-select: none;

    &__title {
      color: getPrimary(500);
      font-size: 1rem;
      font-weight: bolder;
    }

    &__artist {
      color: getPrimary(400);
      font-size: 0.8rem;
      font-weight: bold;
    }
  }
}