@import "../../../../assets/color-palette";

.volume-control-component {
  $rootClass: &;

  margin: 1.5rem;
  width: 11.5rem;
  height: 1.8rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 0.7rem;

  &__icon, &__slider {
    cursor: pointer;
  }

  &__icon {
    width: 1.6rem;
    filter:
            brightness(0)
            saturate(100%)
            invert(79%)
            sepia(8%)
            saturate(21%)
            hue-rotate(337deg)
            brightness(89%)
            contrast(93%);
  }
  &__icon:hover {
    filter: none;
  }

  /* PROGRESS BAR STYLES */
  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;

    height: 0.5rem;
    width: 80%;

    border-radius: 5px;
    overflow: hidden;

  }

  /***** Chrome, Safari, Opera and Edge Chromium styles *****/
  /* Slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    height: 1.1rem;
  }

  /* Slider thumb */
  input[type="range"]::-webkit-slider-thumb {
    /* Override default look */
    -webkit-appearance: none;
    appearance: none;
    /* Centers thumb on the track */
    margin-top: 0.3rem;

    /* Custom styles */
    background: getPrimary(500);
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    box-shadow: -403px 0 0 400px getPrimary(500);
  }

  /******** Firefox styles ********/
  /* Slider track */
  input[type="range"]::-moz-range-track {
    height: 1.2rem;
  }

  /* slider thumb */
  input[type="range"]::-moz-range-thumb {
    /* Centers thumb on the track */
    margin-top: 0.35rem;

    /* Custom styles */
    background: getPrimary(500);
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 50%;
    box-shadow: -403px 0 0 400px getPrimary(500);
  }
}

.volume-control-component:hover {

  input[type="range"] {
    overflow: visible;
  }

  /***** Chrome, Safari, Opera and Edge Chromium styles *****/
  /* slider thumb */
  input[type="range"]::-webkit-slider-thumb {
    /* Override default look */
    -webkit-appearance: none;
    appearance: none;
    /* Centers thumb on the track */
    margin-top: 0;

    /* Custom styles */
    border: 0.6rem getPrimary(500) solid;
    box-shadow: none;
  }

  /******** Firefox styles ********/
  /* slider thumb */
  input[type="range"]::-moz-range-thumb {
    /* Centers thumb on the track */
    margin-top: 0;

    /* Custom styles */
    border: 0.6rem getPrimary(500) solid;
    box-shadow: none;
  }
}