@import "./../../../assets/color-palette.scss";

:host {
  display: flex;
  flex-direction: column;

  .buttons-group {
    height: fit-content;
  }

  .library-group {
    height: 100%;
  }
}