@import "./../../../assets/color-palette.scss";

:host {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  .buttons-group {
    height: fit-content;

    display: flex;
    flex-direction: column;
  }

  .library-group {
    height: 100%;

    display: flex;
    flex-direction: column;
    color: white;
  }
}