@import "./../../../../assets/color-palette.scss";

.volume-control-component {
  $rootClass: &;

  height: 1.8rem;
  display: flex;
  flex-direction: row;
  margin: 1.7rem;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  background-color: #111;
  transition: background-color ease-in .2s;
  column-gap: 6px;
  padding: 2px 4px;

  input[type="range"], &__icon {
    cursor: pointer;
  }

  &__icon {
    margin: 1px 0 1px 4px;

    width: 16px;
  }

  input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
    width: 100%;
    outline: none;
  }

  input[type="range"]::-webkit-slider-container {
    appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border-radius: 0.5rem;
  }

  input[type="range"]:focus {
  }

  /***** Chrome, Safari, Opera and Edge Chromium styles *****/
  /* slider track */
  input[type="range"]::-webkit-slider-runnable-track {
    background-color: #053a5f;
    border-radius: 0.5rem;
    height: 0.5rem;
  }

  /* slider thumb */
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -2.5px; /* Centers thumb on the track */
    border-radius: 20px;
    transition: all ease .5s;

    /*custom styles*/
    background-color: #5cd5eb;
    height: 11px;
    width: 11px;
  }

  input[type="range"]:focus::-webkit-slider-thumb {
    border: 1px solid #053a5f;
    outline: 3px solid #053a5f;
  }

  /******** Firefox styles ********/
  /* slider track */
  input[type="range"]::-moz-range-track {
    background-color: #053a5f;
    border-radius: 0.5rem;
    height: 0.5rem;
  }

  /* slider thumb */
  input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    margin-top: -2.5px; /* Centers thumb on the track */
    border-radius: 20px;
    transition: all ease .5s;

    /*custom styles*/
    background-color: #5cd5eb;
    height: 11px;
    width: 11px;
  }

  input[type="range"]:focus::-moz-range-thumb {
    border: 1px solid #053a5f;
    outline: 2px solid #053a5f;
  }

  &__icon {
  }

  &:hover {
    background-color: #444;

    #{$rootClass}__slider {
    }
  }
}