<div class="buttons-container">
    <button class="prev-btn">
        <svg class="icon">
            <use [attr.xlink:href]="getPrevIcon()"></use>
        </svg>
    </button>
    <button class="play-btn" (click)="playPauseOnClick()">
        <svg class="icon">
            <use [attr.xlink:href]="isPlaying ? getPauseIcon() : getPlayIcon()"></use>
        </svg>
    </button>
    <button class="next-btn">
        <svg class="icon">
            <use [attr.xlink:href]="getNextIcon()"></use>
        </svg>
    </button>
</div>
<div class="time-control-container">
    <label>
        {{ getSongProgress() }}
    </label>
    <input
            type="range"
            max="{{ songDuration }}"
            value="{{ songProgress }}"
            step="1"
            [(ngModel)] = "songProgress"
            (mouseover)="isHovered = true"
            (mouseout)="isHovered = false"
            (input)="updateSongProgress()"
            [ngStyle]="setOnHoverStyles()">
    <label>
        {{ getSongDuration() }}
    </label>
</div>