<app-group-container class="home-group">
    <div class="greeting">{{greeting}}</div>
    <div class="track-tiles">
        <app-main-track-tile
                *ngFor="let track of tracks"
                name="{{track.title}}"
                artist="{{track.artist}}"
                image-url="./../../assets/thumbnails/{{track.thumbnailFilename}}"
                track-url="./../../assets/tracks/{{track.trackSrc}}">
        </app-main-track-tile>
    </div>
    <app-footer/>
</app-group-container>