@import "../../../assets/color-palette";

:host {
  width: 100%;
  height: calc(100% - (0.75rem * 2));

  .home-group {
    height: calc(100% - (0.75rem * 2));
    background: rgb(18,18,18);
    background: linear-gradient(0deg, rgba(18,18,18,1) 0%, rgba(18,18,18,1) 60%, rgba(40,40,39,1) 100%);
    overflow-y: scroll;
    display: block;

    div {
      padding: 1rem;
    }

    .greeting {
      color: getPrimary(500);
      font-weight: bolder;
      font-size: 2rem;
    }

    .track-tiles {
      height: fit-content;
      width: calc(100% - (2 * 1rem));
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      flex-flow: row wrap;
      column-gap: 1.5rem;
      row-gap: 1rem;
      flex-grow: 2;

      container-name: tiles;
      container-type: inline-size;

      @container tiles (max-width: 35rem) {
        app-main-track-tile {
          width: 100%;
        }
      }

      @container tiles (min-width: 35rem) {
        app-main-track-tile {
          width: calc((100% - 2rem) / 2);
        }
      }

      @container tiles (min-width: 52.625rem) {
        app-main-track-tile {
          width: calc((100% - 3rem) / 3);
        }
      }
    }
  }
}