@import "./../../../../assets/color-palette.scss";

.track-controls-component {
  $rootClass: &;

  height: 5.4rem;
  width: 80%;
  min-width: 35rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 0.8rem;

  &__button-container {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 1.8rem;

    button {
      width: 3.2rem;
      height: 3.2rem;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    &__prev-next-btn {

      background: transparent;
      border: none;

      img {
        filter:
                brightness(0)
                saturate(100%)
                invert(79%)
                sepia(8%)
                saturate(21%)
                hue-rotate(337deg)
                brightness(89%)
                contrast(93%);
      }
    }
    &__prev-next-btn:hover {

      img {
        filter: none;
      }
    }
    &__prev-next-btn:active {

      img {
        filter:
                brightness(0)
                saturate(100%)
                invert(79%)
                sepia(8%)
                saturate(21%)
                hue-rotate(337deg)
                brightness(89%)
                contrast(93%);
      }
    }

    &__play-pause-btn {

      background: getPrimary(500);
      border: none;
      border-radius: 50%;

      img {
        filter:
                brightness(0)
                saturate(100%)
                invert(0%)
                sepia(100%)
                saturate(0%)
                hue-rotate(235deg)
                brightness(107%)
                contrast(107%);
      }
    }
    &__play-pause-btn:hover {
      transform: scale(1.05);
    }
    &__play-pause-btn:active {
      transform: scale(1);
    }


  }
}
label {
  color: getPrimary(400);
  font-size: x-small;
  margin-left: 0.8rem;
  margin-right: 0.8rem;
  user-select: none;
}





