@import "../../../../assets/color-palette";

:host {

  .button {
    background-color: #393936;
    color: white;
    height: 5rem;
    min-width: 15rem;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;

    img {
      width: 5rem;
      height: 5rem;
      border-radius: 5px 0 0 5px;
    }

    .artist {
      padding: 1rem;
      font-weight: bold;
    }

    .gif {
      width: 1rem;
      height: 1rem;
      padding: 1rem;
      margin-left: auto;
    }
  }

  .button:hover {
    background-color: getPrimary(300);
  }
}

