@import "./../../../../assets/color-palette.scss";

:host {
  width: calc(100% - (1.2rem * 2));
  height: 100%;
  padding: 1.2rem;

  background: getPrimary(200);

  border-radius: 10px;

  display: flex;

  .library-checkbox-tooltip {
    opacity: 0;
    visibility: hidden;

    width: fit-content;
    height: 1rem;
    padding: 0.5rem;
    justify-self: center;
    transform: translateY(-2.7rem) translateX(-0.8rem);

    font-weight: bold;
    font-size: 0.8rem;
    text-align: center;
    color: getPrimary(500);

    background-color: #232323;
    position: absolute;

    border-radius: 10px;

    pointer-events: none;
    z-index: 1;
  }
  .library-checkbox:hover + .library-checkbox-tooltip {

    transition-property: opacity;
    transition-duration: 0.2s;
    transition-delay: 0.5s;
    opacity: 100%;
    visibility: visible;

  }
}
