@import "./../assets/color-palette.scss";

body {
  height: 100vh;
  width: 100vw;

  background: getPrimary(100);

  footer {
    position: fixed;

    width: 100%;
    height: 8.8rem;

    bottom: 0%;
  }
}
