@import "./../assets/color-palette.scss";

:host {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  $component-gap: 0.5rem;

  .main-content {
    width: calc(100% - (2 * $component-gap));
    height: calc(100% - $component-gap);

    margin-top: $component-gap;
    margin-left: $component-gap;
    margin-right: $component-gap;

    background: none;

    display: flex;
    flex-direction: row;
    column-gap: calc($component-gap / 2);

    .nav-section {
      height: 100%;


    }

    .resizer {
      width: 0;
      height: 100%;

      &-range {
        position: relative;

        $resize-range: 0.8rem;

        width: $resize-range;
        height: 100%;
        right: calc(($component-gap / 2) + ($resize-range / 2));

        display: flex;
        justify-content: center;

        &:active, &:hover {

          cursor: ew-resize;

          .handle {
            width: 1px;
            height: 100%;

            background: getPrimary(300);
          }
        }
      }
    }

    .article-section {
      min-width: 26.25rem;
      height: 100%;
    }
  }

  .player-bar {
    width: 100%;
    height: 6.1rem;
    background: getPrimary(100);
  }
}