@import "./../../../../assets/color-palette.scss";

:host {
  width: calc(100% - (1.2rem * 2));
  padding: 1.2rem;

  background: getPrimary(200);

  border-radius: 10px;

  display: flex;
  flex-direction: column;
}