@import "./../../../../assets/color-palette.scss";

$file-extension: ".svg";
$icon-path: "./../../../../assets/icons/";
$active-file-name: "/true" + $file-extension;
$not-active-file-name: "/false" + $file-extension;

@mixin active {
  .home {
    mask: url($icon-path + "home" + $active-file-name);
  }

  .library {
    mask: url($icon-path + "library" + $active-file-name);
  }

  .checkbox-icon {
    background-color: getPrimary(500);
  }

  .checkbox-name {
    color: getPrimary(500);
  }
}

:host {
  width: 100%;
  height: fit-content;

  container-name: host;
  container-type: inline-size;

  .checkbox {
    width: 100%;
    height: fit-content;
    padding: 0.5rem;

    display: flex;
    flex-direction: row;
    column-gap: 1.2rem;

    .checkbox-icon {
      width: 1.4rem;
      height: 1.4rem;
      background-color: getPrimary(400);
    }

    .checkbox-name {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      font-weight: bold;

      color: getPrimary(400);
    }

    .home {
      mask: url($icon-path + "home" + $not-active-file-name);
    }
    .library {
      mask: url($icon-path + "library" + $not-active-file-name);
    }

    &:hover {
      @include active;
    }
  }

  @container host (max-width: 10rem) {
    .checkbox {
      width: fit-content;

      .checkbox-name {
        display: none;
      }
    }
  }

  .active {
    @include active;
  }
}

