@import "../../../assets/color-palette";

/* PROGRESS BAR STYLES */
input[type="range"] {
  -webkit-appearance: none;
  appearance: none;

  height: 0.2rem;

  border-radius: 5px;
  overflow: hidden;

}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* Slider track */
input[type="range"]::-webkit-slider-runnable-track {
  height: 0.5rem;
}

/* Slider thumb */
input[type="range"]::-webkit-slider-thumb {
  /* Override default look */
  -webkit-appearance: none;
  appearance: none;
  /* Centers thumb on the track */
  margin-top: 0.15rem;

  /* Custom styles */
  background: getPrimary(500);
  height: 0.2rem;
  width: 0.2rem;
  border-radius: 100%;
  box-shadow: -701px 0 0 700px getPrimary(500);
}

/******** Firefox styles ********/
/* Slider track */
input[type="range"]::-moz-range-track {
  height: 0.5rem;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  /* Centers thumb on the track */
  margin-top: 0.15rem;

  /* Custom styles */
  background: getPrimary(500);
  height: 0.2rem;
  width: 0.2rem;
  border-radius: 100%;
  box-shadow: -701px 0 0 700px getPrimary(500);
}

input[type="range"]:hover {
  overflow: visible;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider thumb */
input[type="range"]:hover::-webkit-slider-thumb {
  /* Override default look */
  -webkit-appearance: none;
  appearance: none;
  /* Centers thumb on the track */
  margin-top: 0;

  /* Custom styles */
  border: 0.3rem getPrimary(500) solid;
  box-shadow: none;
}

/******** Firefox styles ********/
/* slider thumb */
input[type="range"]:hover::-moz-range-thumb {
  /* Centers thumb on the track */
  margin-top: 0;

  /* Custom styles */
  border: 0.3rem getPrimary(500) solid;
  box-shadow: none;
}