@import "./../../../../../assets/color-palette.scss";

:host {
  $icon-path: "./../../../../../assets/icons/";
  $active-name: "/true.svg";
  $not-active-name: "/false.svg";

  container-type: inline-size;

  width: 100%;
  height: 1.4rem;

  .nav-checkbox {
    width: 8rem;
    height: 1.4rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1.2rem;

    cursor: pointer;

    .checkbox-icon {
      width: 1.4rem;
      height: 1.4rem;

      background-color: getPrimary(400);
      transition: 0.3s;
    }

    .checkbox-name {
      color: getPrimary(400);
      transition: 0.3s;

      font-weight: bold;
      display: flex;
    }

    &:hover {
      .checkbox-icon {
        background-color: getPrimary(500);
        transition: 0.3s;
      }

      .checkbox-name {
        color: getPrimary(500);
        transition: 0.3s;
      }
    }
  }

  @container (max-width: 10rem) {
    .nav-checkbox {
      .checkbox-name {
        display: none;
      }
    }
  }

  .active {
    .home {
      mask: url($icon-path + "home" + $active-name);
    }
    .library {
      mask: url($icon-path + "library" + $active-name);
    }

    .checkbox-icon {
      background-color: getPrimary(500);
    }

    .checkbox-name {
      color: getPrimary(500);
    }
  }
  .not-active {
    .home {
      mask: url($icon-path + "home" + $not-active-name);
    }
    .library {
      mask: url($icon-path + "library" + $not-active-name);
    }
  }
}




