@import "../../../../assets/color-palette";

:host {
  width: 100%;
  height: fit-content;

  container-type: inline-size;
  display: flex;

  .checkbox-container {
    width: fit-content;
    padding: 0.7rem;

    display: flex;
    align-items: center;
    flex-direction: row;
    column-gap: 1rem;

    .icon {
      width: 24px;
      height: 24px;
      fill: getPrimary(400);
      transition: 0.3s;

    }
    .name {
      font-weight: bold;
      color: getPrimary(400);
      transition: 0.3s;
    }
  }

@container (max-width: 10rem) {

  .checkbox-container {

    width: 3rem;

    .name {
      display: none;
    }
  }
}

  .active {
    .icon {
      fill: getPrimary(500);
      transition: 0.3s;
    }

    .name {
      color: getPrimary(500);
      transition: 0.3s;
    }
  }
}